[submodule "sciroc_objdet"]
	path = sciroc_objdet
	url = https://github.com/hypothe/sciroc_objdet
[submodule "sciroc_darknet_bridge"]
	path = sciroc_darknet_bridge
	url = https://github.com/hypothe/sciroc_darknet_bridge
	main = main
[submodule "darknet_ros"]
	path = darknet_ros
	url = https://github.com/hypothe/darknet_ros
	branch = feature/melodic-on-rqst-actionsrvr
